.cover {
    position: relative;
    width: 100%;
    max-width: 1184px;
    height: 62.5vmax;
    max-height: 740px;
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {
    .cover {
        margin-top: 90px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 560px) {
    .cover {
        height: 62.5vmin;
        margin-top: 66px;
        margin-bottom: 64px;
    }
}
