.lang-links__link {
    margin-right: 18px;
    color: #fff;
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    font-style: normal;
    text-decoration: none;
}

.lang-links__link:last-child {
    margin-right: 0;
}

.lang-links__link:hover {
    animation: scaling 0.1s linear forwards;
}
