.lead__caption {
    font-size: 10px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    margin: 8px 0 0 0;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 800px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 560px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}
