.place {
    display: grid;
    grid-template-columns: 47% 1fr;
    row-gap: 48px;
    column-gap: 40px;
}

@media screen and (max-width: 1080px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 920px) {
    .place {
        column-gap: 28px;
    }
}

@media screen and (max-width: 720px) {
    .place {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}
