.footer {
    width: calc(100% - 96px);
    display: flex;
    margin: 0 auto 24px;
}

@media screen and (max-width: 800px) {
    .footer {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 740px) {
    .footer {
        flex-direction: column;
        margin-left: 16px;
    }
}
